main {
    padding: 40px;
}

#titulo1 {
    margin: 0 0 30px 0;
}

input {
    padding: 10px;
    border: 1px solid rgb(150,150,150);
    margin: 0 0 20px 0;
    width: 60%;
    min-width: 275px;
}

#form_sugestao {
    height: 100px;
    padding: 10px;
    margin: 15px 0 0 0;
}

label {
    padding: 20px 0;
}

button {
    width: 100px;
    padding: 10px;
    margin: 15px 0;
    background-color: rgb(241, 93, 39);
    color: white;
}


#tit-venha {
    margin: 30px 0 15px 0;
}