main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prod-article {
    margin: 10px;
    padding: 5px 8px;
    width: 95%;
    min-width: 300px;
    background-color: rgb(240, 240, 240);
    border: 3px solid #F15D27;
    box-shadow: 0 4px 4px rgb(120, 120, 120);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.prod-foto {
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.prod-foto h2 {
    font-size: 1.1em;
    /*margin: 0 0 7px 0;
    padding: 0 0 0 20px;*/
}

.prod-foto>div>p {
    margin: 0;
    color: black;
    font-size: 0.8em;
}

.prod-foto>img {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    min-width: 150px;
    margin: 15px 0 0 0;
    align-self: center;
    /*margin: 15px 0;*/
    /*min-width: 200px;*/
}

.prod-tabela>table {
    height: 100%;
}

.prod-tabela th {
    background-color: #F15D27;
    color: white;
    font-size: 0.8em;
}

.prod-tabela td {
    background-color: white;
    text-align: center;
    font-size: 0.7em;
    padding: 0 2px
}

.prod-tabela td:nth-child(2) {
    font-weight: bold;
}

.foot-page {
    background-color: rgb(241, 93, 39);
    height: 20vh;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}

.menu {
    margin: 0 1rem;
    position: relative;
    color: #fff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 93, 39);
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    align-items: center;
    height: 20vh;
    padding: 0 3vw 0 3vw
}

.navigation a:after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -10px;
    transition: 0.3s;
}

.navigation a:hover:after, .navigation a.active:after {
    width: 100%;
}

.log {
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}

.copy {
    color: #fff;
}

@media screen and (min-width: 740px) {
    .prod-article {
        width: 80%;
        min-width: 715px;
        padding: 15px;
    }
    .prod-foto {
        margin: 0 20px 0 0;
    }
    .prod-foto h2 {
        font-size: 1.5em;
    }
    .prod-foto>div>p {
        font-size: 1em;
    }
    .prod-foto>img {
        width: 50%;
        min-width: 400px;
        margin: 15px 0;
    }
    .prod-tabela th {
        font-size: 1em;
    }
    .prod-tabela td {
        padding: 0px 15px;
        font-size: 0.9em;
    }
   
}

@media screen and (max-width: 739px) {
    /*.prod-article {width: 95%; min-width: 300px; padding: 5px 8px;}*/
    /*.prod-foto {margin: 0 10px 0 0;}*/
    /*.prod-foto h2 {font-size: 1.1em;}*/
    /*.prod-foto p {font-size: 0.8em;}*/
    /*.prod-foto img {width: 100%; min-width: 150px; margin: 15px 0 0 0;}*/
    /*.prod-tabela th {padding: 0; font-size: 0.8em;}*/
    /*.prod-tabela td {padding: 0 2px; font-size: 0.7em;}*/
}
