main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    margin: 10px;
    padding: 15px;
    width: 80%;
    background-color: rgb(240,240,240);
    border: 3px solid #F15D27;
    box-shadow: 0 4px 4px rgb(120,120,120);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

main > article > section > h2 {
    margin: 0 0 7px 0;
    padding: 0 0 0 20px;
}

main > article > section > p {
    margin: 0;
    padding: 0 0 0 20px;
    color: black;
}

article > section {
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

article > section > picture {
    display: flex;
    justify-content: center;
    padding: 30px 0 20px 0;
}

article > section > picture > img {
    border-radius: 0;
    box-shadow: none;
}

main > article > table th {
    background-color: #F15D27;
    color: white;
    padding: 10px;
}

main > article > table td {
    background-color:white;
    text-align: center;
    padding: 10px;
}

main > article > table td:nth-child(1) {font-size: 0.9em;}
main > article > table td:nth-child(2) {font-weight: bold;}

footer {
    position: static;
}