@media screen and (min-device-width:320px) and (max-device-width:812px) {
    .navigation {
        display: flex;
        flex-wrap: wrap;
        height: 35vh;
        width: 100%;
        padding:0
    }
  
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:0;
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
    }
    .image {
        width: 100%;
    }
     header {
       width: 100vw;
   }
    div {
        width: 100%;
        padding: 2vh 2vh;
    }
}
