main {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

main>h2 {
    color: black;
    margin: 0 0 30px 0;
}

main>p {
    color: black;
    line-height: 22px;
    margin: 12px 0;
}

#trabalhe-fotos {
    width: 100%;
    max-width: 1200px;
    margin: 20px 0 0 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#trabalhe-fotos>img {
    border-radius: 0;
    box-shadow: 0 2px 2px rgb(120, 120, 120);
    width: 100%;
    margin: 5px;
}


@media screen and (min-width: 401px) {
    main {padding: 50px;}

    #trabalhe-fotos {
        display: grid;
        column-gap: 2%;
        grid-template: repeat(2, 1fr)/auto 67%;
    }

    #trabalhe-fotos > img:nth-of-type(1) {
        grid-area: 1/1/2/2;
        align-self: start;
    }
    #trabalhe-fotos > img:nth-of-type(2) {
        grid-area: 2/1/3/2;
        align-self: end;
    }
    #trabalhe-fotos > img:nth-of-type(3) {
        grid-area: 1/2/3/3;
        align-self: start;
    }

    #trabalhe-fotos > img {
        box-shadow: 0 3px 3px rgb(120,120,120);
    }

}