main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

main>h2 {
    color: black;
    margin: 0 0 30px 0;
}

main>p {
    color: black;
    line-height: 22px;
    margin: 12px 0;
}

#trabalhe-fotos {
    width: 100%;
    max-width: 1200px;
    min-width: 350px;
    margin: 20px 0 0 0;
    align-self: start;
    display: grid;
    column-gap: 2%;
    grid-template: repeat(2, 1fr)/auto 67%;
}

#trabalhe-fotos>img {
    border-radius: 0;
    box-shadow: 0 3px 3px rgb(120, 120, 120);
    width: 100%;
}

#trabalhe-fotos>img:nth-of-type(1) {
    grid-area: 1/1/2/2;
    align-self: start;
}

#trabalhe-fotos>img:nth-of-type(2) {
    grid-area: 2/1/3/2;
    align-self: end;
}

#trabalhe-fotos>img:nth-of-type(3) {
    grid-area: 1/2/3/3;
    align-self: start;
}
/* Class */
.foot-page {
    background-color: rgb(241, 93, 39);
    height: 20vh;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}

.menu {
    margin: 0 1rem;
    position: relative;
    color: #fff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background-color: rgb(241, 93, 39);
    border-radius: 0 0 1rem 1rem;
    text-align: center;
    align-items: center;
    height: 20vh;
    padding: 0 3vw 0 3vw
}

.navigation a:after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -10px;
    transition: 0.3s;
}

.navigation a:hover:after, .navigation a.active:after {
    width: 100%;
}

.log {
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}

.copy {
    color: #fff;
}
